.hoom-b  {
    background-color: blue ;
    color: #000;
}

.ect-b-ws {
    background-color:blanchedalmond;
    color: #000;
}

.ect-b-bs {
    background-color:#000;
    color: blanchedalmond;
}

.img-py {
    text-align: center;
}